/*HOME STYLING*/
* {
  box-sizing: border-box;
}
body {
  background: white;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
}
h2 {
  display: inline;
  margin: 30px 0 0 0;
  letter-spacing: 1px;
  font-size: 50px;
  font-family: 'Proza Libre', serif;
  font-weight: 100;
}
h3 {
  font-size: 30px;
  letter-spacing: 1px;
}
h5 {
  font-size: 18px;
  margin-top: 5px;
  font-style: italic;
}
ul{
  padding: 30px 0;
}
a {
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
.about {
  padding: 20px;
}
.about h2 {
    font-size: 30px;
    padding: 20px 0;
}
.about p {
  width: 80%;
  margin: 20px auto;
}
.active, a:hover {
  font-weight: bold;
  border-bottom: solid 2px #000;
  display: inline;
  padding-bottom: 3px;
}
.mainImage img{
  margin: 0 auto;
  max-width: 100%;
}
/*EVENTS STYLING*/

/*WEDDING PARTY STYLING*/
.wedding-party {
  margin: 30px 100px;
  display: table;
  width: 80%;
}
.wedding-party h3 {
  margin: 0;
}
.wedding-party-information, .wedding-party-picture {
  width: 40%;
  padding: 20px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
.wedding-party-picture {
  text-align: center;
}
.seperator {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  border-top: 1px solid black;
}
a.registry-button {
  text-transform: uppercase;
  border: 2px solid black;
  border-radius: 5px;
  font-family: 'Cormorant Garamond', serif;
  padding: 10px;
  width: 200px;
  font-weight: bold;
  display: inline-block;
  /* margin: 20px auto; */
  vertical-align: top;
  margin-top: 0px;
}
a.registry-button:hover {
  transition: ease-in 0.2s;
  background-color: black;
  color: white;
  height: auto;
  cursor: pointer;
}
.registry-company-picture {
  display: inline;
  vertical-align: top;
}
.registry-details {
  width: 75%;
  margin: 20px auto;
  padding: 10px;
}
.map-gic {
  height: 300px;
  width: 100%;
}
footer {
  margin-top: 30px;
}

/* MOBILE - TABLET */
@media (max-width: 767px) {
  #app h2 {
    font-size: 30px;
    margin: 0;
    display: block;
  }
  h3 {
    padding: 20px 20px 0 20px;
  }
  ul {
    margin-right: 5px;
  }
  a {
    font-size: 12px;
    padding: 0;
    margin: 0 0 0 5px;
  }
  .mainImage {
    padding: 30px;
  }
  .wedding-party {
    margin: 0 auto;
    display: block;
    padding: 40px;
  }
  .wedding-party-information, .wedding-party-picture {
    width: auto;
    display: block;
    text-align: center;
    vertical-align: top;
    padding: 0;
  }
  img.wedding-picture {
    max-width: 100%;
  }
  a.registry-button {
    display: block;
    margin: 20px auto;
  }
}
